.container {
    display: grid;
    grid-row-gap: 50px;
    height: 800px;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
  }
.grid-item {
    border: solid 1px black;
    padding: 20px;
    text-align: center;
    font-size: 1em;
}
img {
    position: auto;
    height: 200px;
    width: 200px
}
p {
    text-align: left;
    font-size: .75;
}